{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-9 col-md-9 col-sm-9 col-xs-12" id="main">
      <div class="center">
		<div class="hmain">
			<h1 class="hcs" >31</h1>
			<h2>words!</h2>
		</div>
		<p class="p">Congratulations $Current_Student_Name you contributed to the project by adding 31 words!</p>
	</div>
    </div>
    <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>