{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-9 col-md-9 col-sm-9 col-xs-12" id="main">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-lg-12 top-pad100">
              <h2 class="animated zoomIn white">Padakosham</h2>
              <h4 class="white">Enter Your Details</h4>
              <form>
                <div class="form-group animated bounceInLeft">
                  <input type="text" class="form-control" id="student_name" placeholder="Name">
                </div>
                <div class="form-group animated bounceInRight">
                  <input type="text" class="form-control" id="grade" placeholder="Grade">
                </div>
                <div class="form-group animated bounceInLeft">
                  <select class="form-control" id="district" onchange="loadData('subdistrict','/data/retrieve?district='+this.value, 'Sub-District')">
                    <option value="" disabled selected>District</option>
                  </select>
                </div>
                <div class="form-group animated bounceInRight">
                  <select class="form-control" id="subdistrict" onchange="loadData('school','/data/retrieve?subdistrict='+this.value, 'School')">
                    <option value="" disabled selected>Sub-District</option>
                  </select>
                </div>
                <div class="form-group animated bounceInLeft">
                  <select class="form-control" id="school">
                    <option value="" disabled selected>School</option>
                  </select>
                </div>
                <a href="#">
                  <button type="submit" class="btn btn-success white pull-right">Register</button>
                </a>
              </form>
            </div>
          </div>
      </div>
    </div>
    <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){
  loadData('district', '/data/retrieve?', 'District');
});

function loadData(id, url , option) {
    $("#"+id).html($('<option>', { 
        value   : option,
        text    : option,
        disabled: true,
        selected: true
    }));
    $.ajax({
      type: "GET",
      crossDomain: true,
      url: url,
      dataType: "json",
      success: function(resultData){
          $.each(resultData[Object.keys(resultData)[0]], function (i, item) {
              $("#"+id).append($('<option>', { 
                  value: item,
                  text : item 
              }));
          });
      },
      error: function(e) {
        alert('Check the Console to see Error Messages');
        console.log(e);
      },
    });
};

</script>